services:
  - type: web
    name: pi-tool-backend
    runtime: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        generateValue: true
      - key: XML_FOLDER_PATH
        value: ./
